<!--  template/accounts/login.html -->
{% extends 'base.html' %}

{% block title %} Login - smartstudy {% endblock %}

{% block content %}
<div class='container'>
    <div class='card'> 
        <h2>Login</h2>

        <form method="post" class=''>
            {% csrf_token %}
            <!-- form is passed authomatically by loginview - view code needed -->
             <div class='form'>
                {{ form.as_p }}
             </div>
            
            <button type="submit" class='btn'>Login</button>
        </form>

        <div class='last'>
            <p>No account? <a href="{% url 'register' %}">Register here</a></p>
        </div>
    </div>
</div>
{% endblock %}