{% extends 'base.html' %}

{% block content %}
<div>
    <h1>Welcome, {{ request.user.get_full_name }}</h1>
    <p>{{ student.class_name }}</p>
</div>
        
<div>
    <div>
        <h3>{{ enrollements.count }}</h3>
        <p>Course Enrolled</p>
    </div>
    <div>
        
    </div>
</div>



        {% comment %} <div>
            {% if student.image %}
                    <!-- product.image.url gives the full URL to the uploaded file -->
                    <img src='{{ student.image.url }}' alt='{{ student.name }}'>
                {% else %}
                    <p>No image
                {% endif %}


                <div> {{student.get_full_name}} </div>
                <div> {{student.email}} </div>
                <p>Role: {{ request.user.role }}</p>
                
        </div> {% endcomment %}

       


        

         
{% endblock %}