{% extends 'base.html' %}

{% block tittle %} Courses {% endblock %}

{% block content %}
    <div class="container">
        {% for course in courses %}
            <div class="card">
                <a href="{% url 'course_details' course.pk %}"> <h3>{{ course.title }}</h3></a>
                {% comment %} <p> {{ course.teacher }}</p> {% endcomment %}

                <br>
                <P>{{ course.code }}</p>

            </div>
        {% empty %}
            <p> No Course found.</p> 
        {% endfor %} 
    </div>
{% endblock %}