{% extends 'base.html'%}

{% block title %} Welcome to smartstudy  {% endblock %}
{% block content%}

<div style="display:flex; flex-direction:coloumn; align-item:center; justify-content:center; height:80vh; text-align:center; padding:0 20px; border 2px solid red">
    <h1 style="font-size:2.5rem; margin-bottom:10px;"><strong>SmartStudy</strong></h1>
    <p style="color:#555; font-size:1rem; max-width:400px; margin-bottom:40px;">A digital learning and management system for students, teachers, and parents.</p>
</div>




{%  endblock %}