*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 98%;
    margin:10px auto;
    display: flex;
    gap: 10px;
}

nav{
    background-color: black;
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

main{
    width: 80%;
    border: 2px solid red;
}


